
html{
	font-family: 'Courgette', cursive;
}

a{
	text-decoration: none;
	color: #d500f9
}

img{
	max-width: 100%;
}

a:hover{
	opacity: 0.8;
}

a:active{
	background: pink; 
}

.titulo{
	text-transform: uppercase;
	text-align: center;
}

.parrafo{
	line-height: 1.8em;
	font-weight: 200;
}

.contenedor{
	background: #aa4b6b;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh; /*para ocupar todo el alto de la pantalla*/
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenido{
	max-width: 960px;
	width: 100%;
	height: 80%;
	background-color: #fff;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.40), 3px 3px 6px rgba(0,0,0,0.23);
	border-radius: 7px;
	position: relative;
	overflow:scroll;

}

.contenido{
	padding: 1em;
}


td{
	display: block;
	width: 100%;
}

td:nth-of-type(1){	/*selecciona etiquetas que tienen al lado etiquetas de su mismo tipo */
	font-size: 1.5em;
	font-weight: bold;
	color: #642b73;
}	

th{
	display: none;
}
.position{
	padding-bottom: 0em
}


.actions{
	position: absolute;
	top:1em;
	right: 1em;
}

.close{
	height: 40px;
	width: 40px;
	color: white;
	border-radius: 50%;
	background-color: #2374AB;
	display: inline-block;
	box-shadow: 0 3px 6px rgba(0,0,0,0.30), 0 3px 6px rgba(0,0,0,0.30);
	font-weight: 300;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fa-star{
	color: purple;
}

.table{
	width: 100%;
	border-spacing: 0;
}

.table td, .table th{
	padding: 1em;
	text-align: left;
}

.table tr:nth-child(even){
	background-color: #f3e5f5;
}

.title-item{
	/*border-bottom-style: solid;
	border-width: 2px;		/*grosor del borde*....
	border-color: #2374AB;*/
	font-size: 2.2em;
	border-bottom: solid 2px #2374AB; 
	padding: 15px;
}
.position{
	background-color: #2374AB;
	color: white;
	padding: 0.1em;
	border-radius: 7px;
	margin-right: 0.5em;
}

.address{
	font-weight: bold;
	color: #2374AB;
	font-size: 1.2em;
	margin-top: 2em;
	display: inline-block;
}

.pildoras-image{
	float: left;
	margin-right: 1.5em;
	height: 200px
}

@media(min-width: 900px){
	th{
		display: table-cell;
	}
	td{
		width: auto;
		display: table-cell;
	}
	td:nth-of-type(1){
		font-size: 1em;
	}
	.contenido{
		padding: 1.8em;
	}
}

@media (min-height: 550px){
	.contenido{
		height: 500px
	}
}


